body {
    color: #333333;
    font-family: arial;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 1rem;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer{
    color: #888888;
    border-top: 1px solid #eeeeee;
    margin-top: 1rem;
}
header{
    margin: 1rem 0;
}
h1{
     font-size: 64px;
     margin-bottom: 1rem;
}

header a {
    color: #888888;
    margin-right: 1rem;
    text-decoration: none;
}

.portrait {
    width: 250px
}

.main-content{
    flex-grow: 1;
}

form{
    display: flex;
    justify-content: center;

}

input{
    border: 1px solid #cccccc;
    padding: 8px;
}
button {
    cursor: pointer;
    border: 1px solid #888888;
    background: #888888;
    color: white;
    padding: 8px;
}

i{
    font-size: 4rem;
}

#forecast-container{
    display: grid;
    grid-template-columns: 4rem 1fr;
    grid-gap: 2rem;
    margin: 1rem;
    align-items: center;
    
}

#loading-container{
    display: flex;
    justify-content: center;
}

.fas.fa-spinner{
    font-size: 2rem;
 -webkit-animation-name: spin;
    -webkit-animation-duration: 4000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 4000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 4000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    
    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;   
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}